{% extends "base.html" %}
{% block content %}

    <h2>edit post</h2>
    
    <form method="post">
        <label>
            <div>Author:</div>
            <div>{{ post.author }}</div>
            
        </label>

        <label>
            <div>subject</div>
            <input type="text" name="subject" value="{{ post.subject }}">
        </label>

        <label>
            <div>blog</div>
            <textarea name="content">{{ post.content }}</textarea>
        </label>

        <div class="error">{{ error }}</div>
        <input type="submit">
    </form>

    <a href="/blog">Cancel</a>
    
{% endblock %}